@model LoginBancoTeste.Models.ViewModels.EmChequeViewModel

@{
    ViewBag.Title = "Cheque";
    Layout = "~/Views/Shared/_TransacoesLayout.cshtml";
}

@using (Ajax.BeginForm("ImpCheques", "Transacoes", new { numConta = Model.numConta }, new AjaxOptions { UpdateTargetId = "divQtdCheques" }))
{
    <fieldset>
        <h2 align="center">Emissão de Cheques</h2>
        <div class="form-group" style="font-size:large; margin-top:10%" has-warning>
            <label>Digite a quantidade de folhas para impressão (4 a 20)</label>
            <div class="editor-field">
                @Html.EditorFor(model => model.qtdCheque)
            </div>
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.qtdCheque, "", new { @class = "text-danger" })
            </div>
            <br>
            <label>Digite o diretório de saída</label>
            <div class="editor-field">
                @Html.EditorFor(model => model.dirSaida)
            </div>
            <button input type="submit" class="btn" id="confirmar"> Confirmar </button>
        </div>
    </fieldset>
}

<p>
    <a href="@Url.Action("Opcoes", "Transacoes", new { numero = Model.numConta })" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Voltar
    </a>
</p>
