@model LoginBancoTeste.Models.ViewModels.EntradaSaqueViewModel
@{
    ViewBag.Title = "SaqueConfirm";
    Layout = "~/Views/Shared/_TransacoesLayout.cshtml";
}

@using (Html.BeginForm("SaqueConfirm"))
{
    @Html.HiddenFor(model => model.NumeroConta)
    @Html.HiddenFor(model => model.Valor);
    
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">Confirmação do Saque</h2>
        </div>
        <div class="panel-body">
            
            <p>Deseja realizar o saque de R$ @Model.Valor reais?</p>

            <button type="submit" class="btn btn-success" value="Salvar">
                <span class="glyphicon glyphicon-ok"></span>
                Ok
            </button>

        </div>
    </div>
}

<p>
    <a href="@Url.Action("Saque", "Transacoes", new { numero = Model.NumeroConta })" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Voltar
    </a>
</p>

