@model LoginBancoTeste.Models.Investimento

<div>
    <dl class="dl-horizontal">
        <dt>
            Juros ao mês:
        </dt>

        <dd>
            @ViewBag.jurosMes%
        </dd>

        <dt>
            Simulação mês:
        </dt>

        <dd>
            @ViewBag.rendMes
        </dd>

        <dt>
            Juros ao ano:
        </dt>

        <dd>
            @ViewBag.jurosAno% 
        </dd>

        <dt>
            Simulação ano:
        </dt>

        <dd>
            @ViewBag.rendAno
        </dd>

    </dl>
</div>
